* {
  box-sizing: border-box;
  text-align: center;
}

header{
	font-family: 'Georgia', Times, Times New Roman, serif;
	/*Any way to do this with a percentage/get heigh to just go to bottom of my boxes? w/o using px*/
	height:112px;
	width:100%;
	border-bottom-width:10px;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
}

#name{
	float:left;
	background-color:#4aaaa5;
	margin:3% 0% 0% 5%;
	text-align:center;
	/*--Why doesn't this make my name white?  Created white-text class to get it to work*/
	color:#FFFFFF;
}

#about-link{
	float:right;
	margin:3% 3% 0% 3%;
}

#tutor-link{
	float:right;
	margin:3% 3% 0% 3%;
}

#portfolio-link{
	float:right;
	margin:3% 3% 0% 3%;
}

#contact-link{
	float:right;
	margin:3% 5% 0% 3%;
}

a{
	color:#222222;
	text-decoration: none;
}

.white-text{
	color:#FFFFFF;
}

h1,h2,h3{
	color: #4aaaa5;
}